//set up prefixes for lesshat
@webkit: true;
@moz: true;
@opera: true;
@ms: true;
@w3c: true;

//import sprite files
@import 'sprites.less';
@import 'lesshat.less';

@darkbg: #313141;

body{
    font-family: 'Roboto', sans-serif;
}
#container{
    margin: 0;
    padding: 0;
}

.main-area{
    padding: 20px;
    overflow: auto;
    background-color: #e4e4ef;
}

.separator{
    display: block;
    height: 4px;
    background-color: #1d1d27;
    border-top: 1px solid #3a3a49;
    border-bottom: 1px solid #3a3a49;
}

@import 'results.less';
@import 'queue.less';
@import 'player-controls.less';

header.main{
    height:70px;
    background-color: @darkbg;
    #logo{
        font-size: 40px;
        color: #fff;
        padding: 10px;
    }
}

.sidebar{
    overflow: auto;
    background-color: @darkbg;
    padding-top: 20px;
    //height:88vh;
    ul.side-nav{
        padding-left: 10px;
        li{
            margin: 12px 0;
            a{
                color: #fff;
                font-size: 15px;
                font-weight: 300;
            }
            a:hover, a.active{
                color: #deab45;
            }
        }
        li.divider{
            border: 0;
            margin: 40px 0;
        }
    }
}

#search-form{
    padding-top: 17px;
    form{
        input[type=text]{
            .border-radius(15px);
            background-image: url(../images/search-ico.png);
            background-repeat: no-repeat;
            background-position: 8px 10px;
            //background-origin: content-box;
            padding-left: 30px;
        }
    }
}

.video-sidebar{
    padding: 0;
    background-color: @darkbg;
}

#video-player{
    header{
        h1{
            color: #fff;
            font-size: 22px;
            padding: 5px 10px 0;
            margin: 0;
        }
        h2{
            margin: 0;
            padding: 0;
            color: #fff;
            padding: 0 10px 5px;
            font-size: 15px;
        }
    }
}

