<div class="sidebar medium-2 columns">
    <div id="logo">
        Yuty
    </div>
    <div id="search-form"></div>
    <nav class="main">
        <ul class="side-nav">
            <li><a href="#">Lorem.</a></li>
            <li><a href="#">Labore!</a></li>
            <li><a href="#">Non.</a></li>
            <li><a href="#">Molestiae.</a></li>
            <li><a href="#">Iusto.</a></li>
            <li class="divider"></li>
            <li><a href="#">Lorem ipsum dolor.</a></li>
            <li><a href="#">Nisi, itaque, vero.</a></li>
            <li><a href="#">Vero, error, iste!</a></li>
        </ul>
    </nav>
</div>
<div class="main-area medium-7 columns">
    <div id="tracks-results"></div>
</div>
<div class="video-sidebar medium-3 columns">
    <div id="video-player"></div>
    <div id="queue-list"></div>
</div>