<header class="main">
    <div id="logo" class="medium-1 columns">
        Yuty
    </div>
    <div id="search-form" class="medium-3 columns"></div>
    <div class="clearfix"></div>
</header>
<div class="separator"></div>
<div class="sidebar medium-2 columns">
    <div id="queue-list"></div>
</div>
<div class="main-area medium-7 columns">
    <div id="tracks-results"></div>
</div>
<div class="video-sidebar medium-3 columns">
    <div id="video-player"></div>
</div>
<div id="player-controls"></div>