<div class="thumbnail small-1 columns">
    <img class="small" src="<%= images.medium %>" alt="<%= name %> - ><%= artist %>">
</div>
<div class="small-10 columns">
    <div class="track-info">
        <span><%= name %></span> - <%= artist %>
    </div>
    <div>
        <div class="controls" >
            <button class="pause"></button>
            <button class="next"></button>
        </div>
        <div class="progress-bar progress round"></div>
        <div class="time"><%= time %></div>
        <button class="volume-ico"></button>
        <div class="volume volume-bar progress round"></div>
    </div>
</div>
<div class="clearfix"></div>